body {
font-family: Arial;
background: hsl(198, 70%, 41%);
display: flex;
justify-content: center;
padding: 30px;
}

.container {
width: 400px;
background: #e31bae;
padding: 20px;
border-radius: 10px;
}

h1 {
text-align: center;
}

.input-area {
display: flex;
gap: 10px;
}

input {
flex: 1;
padding: 8px;
}

button {
padding: 8px;
cursor: pointer;
}

.task {
display: flex;
justify-content: space-between;
background: #e1a91b;
padding: 8px;
margin-top: 10px;
border-radius: 5px;
}

.task.completed span {
text-decoration: line-through;
color: rgb(75, 235, 26);
}

.actions button {
margin-left: 5px;
}

.filters {
margin-top: 10px;
}

.filters button {
margin-right: 5px;
}
